
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #325A9D;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.menu{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(5, 100px);
    height: 40px;
    text-align: center;
}

.logo{
    margin-left: 30px;
}

.menu-btn{
    text-decoration: none;
    color: #ffffff;
    background: none;
    text-align: center;
    height: 33px;
    align-self: center;
    padding-top: 7px;
    justify-content: center;
}
.menu-btn:hover{
    background: #2C4D85;
}


