html{
    background-image: url('../src/Index.jpg');
    background-position: fixed;
    background-position-y: top;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* CONTAINER */

.container{
    display: grid;
    grid-template-columns: 60% 35%;
    margin-top: 100px;
}

.right{
    align-items: center;
    justify-content: center;
}

.top-cont{
    display: grid;
    grid-template-rows: 100px 200px 100px;
    align-items: center;
    text-align: end;
}

.h1{
    line-height: 105px;
    font-size: 100px;
    margin-top: auto;
    margin-bottom: auto;
}

.btn-list{
    display: grid;
    justify-content: end;
}

.btn-right{
    border: none;
    background: #2C4D85;
    padding: 10px 20px 10px 20px;
    color: #ffffff;
    font-size: medium;
    width: 200px;
    margin-top: 5px;
    border-radius: 20px;
    cursor: pointer;
}